<div class="border-0 h-full">
  <div class="border-bottom-1">
    <div class="p-text-left text-lg m-3 line-height-3" style="font-family: sans-serif;">View CF Comparison</div>
  </div>

  <div class="flex justify-content-center m-3">
    <div class="flex justify-content-between border-0 w-11 h-4rem border-round shadow-3">
      <div class="p-text-left text-xl m-3" style="font-family: sans-serif;">View CF Comparison</div>
    </div>
  </div>

  <!-- If we set inputs with width 25rem they are responsive till a certain point -->

  <div class="flex justify-content-center">
    <div class="border-0 w-10 h-full shadow-5 m-4" style="border-radius: 20px;">
      <div class="line-height-3">

      <div class="card m-4">

        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Declaration Code</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Loading List</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Total Packages</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Country of Departure</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Country of Transit</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Country of Destination</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Place of Loading</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" [ngStyle]="{backgroundColor:'var(--yellow-300)'}" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" [ngStyle]="{backgroundColor:'var(--yellow-300)'}" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Gross Mass (Kg)</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" [ngStyle]="{backgroundColor:'var(--pink-300)'}" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" [ngStyle]="{backgroundColor:'var(--pink-300)'}" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Net Mass (Kg)</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Value</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Container No (BIC Code)</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Driver Compartment Plate</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" [ngStyle]="{backgroundColor:'var(--pink-300)'}" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" [ngStyle]="{backgroundColor:'var(--pink-300)'}" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Trailer Plate</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Seal Number</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Place of Loading</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Risk Index</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Vessel IMO Code</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Scanner Images</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield font-semibold" placeholder="lorem ipsum">
            <input pInputText id="firstname4" type="text" class="inputfield m-2 font-semibold" placeholder="lorem ipsum">
          </div>
        </div>

        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"></label>
          <div class="col-12 md:col-10">
            <img class="w-12rem" [src]="'assets/images/default.png'" alt="">
            <img [src]="'assets/images/default.png'" class="w-12rem ml-5" alt="">
            <button class="mb-8 ml-8" style="font-family: sans-serif;" pButton type="button" label="Compare" [routerLink]="['/3']"></button>
            <div class="col-12 md:col-10 ml-8">
              <button class="ml-8 mt-6" style="font-family: sans-serif;" pButton type="button" label="Save"></button>
            </div>
          </div>

        </div>


      </div>

    </div>
  </div>

</div>


<div class="m-2"></div>

<div class="border-top-1">
  <div class="m-6"></div>
</div>

<router-outlet></router-outlet>
