<div class="border-1 h-full">
  <div class="border-bottom-1">
    <div class="p-text-left text-lg m-3">View CF Comparison</div>
  </div>

  <div class="flex justify-content-center m-2">
    <div class="flex justify-content-between border-1 w-10 h-4rem">
      <div class="p-text-left text-xl m-3">View CF Comparison</div>
    </div>
  </div>

  <div class="flex justify-content-center h-full m-2">

    <div class="flex justify-content-start border-1 w-10 h-full">

      <div>


        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Declaration Code</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Loading List</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Total Package</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Country of Departure</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
        </div>
        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Country Of Transit</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Country Of Destination</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Place of Landing</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Gross Mass (Kg)</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Net Mass (Kg)</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Value</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Container No (BIC Code)</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Driver Compartment Plate</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Trailer Plate</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Seal Number</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Risk Index</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="number" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Vessel IMO Code</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px">Scanner Images</label>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
          <div class="col-md-6 ml-8">
            <input pInputText id="" type="text" class="inputfield w-30rem">
          </div>
        </div>

        <div class="card-container blue-container flex align-items-center justify-content-start m-4">
          <label for="" class="col-md-6 text-lg" style="width:200px"></label>
          <div class="col-md-6 ml-8">
            <img [src]="'assets/images/default.png'" alt="">
            <!-- <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea> -->
          </div>
          <div class="col-md-6 ml-8 px-8">
            <img class="ml-8 px-8" [src]="'assets/images/default.png'" alt="">
            <!-- <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea> -->
          </div>
          <div class="col-md-6 ml-8">
            <button class="ml-6" pButton type="button" label="Compare"></button>
          </div>
        </div>


        <div class="flex justify-content-center m-2">
          <button class="w-15rem" pButton type="button" label="Save"></button>
        </div>

      </div>




    </div>


  </div>


  <div class="border-top-1">
    <div class="m-6"></div>
  </div>

</div>
