<div class="h-full">
  <!-- <div class="border-bottom-1">
    <div class="p-text-left text-lg m-3" style="font-family: sans-serif;">Insert CF Data</div>
  </div> -->

  <div class="flex justify-content-center m-3">
    <div class="flex justify-content-between border-0 w-11 h-4rem border-round shadow-5">
      <div class="p-text-left text-xl m-3" style="font-family: sans-serif;">Insert CF Data</div>
      <div class="m-2">
        <button class="" pButton type="submit" (click)="showDialog()" label="Load CSV"></button>
        <!-- <p-fileUpload mode="basic" name="demo[]"
        accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"
        [auto]="true" chooseLabel="Load CSV">
        </p-fileUpload> -->
      </div>
    </div>
  </div>

  <div class="flex justify-content-center">
    <div class="border-0 w-10 h-full shadow-7 m-5" style="border-radius: 20px;">
      <div class="card m-4">
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Declaration Code</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Loading List</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Total Packages</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Country of Departure</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Country of Transit</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Country of Destination</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Place of Loading</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Gross Mass (Kg)</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Net Mass (Kg)</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Value</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Container No (BIC Code)</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Driver Compartment Plate</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Trailer Plate</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Seal Number</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Risk Index</label>
          <div class="col-12 md:col-10">
            <input pInputText id="firstname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Vessel IMO Code</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield w-full">
          </div>
        </div>
        <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Scanner Image</label>

          <!-- <div class="col-12 mb-2 md:col-2 md:mb-0">
          <label for="lastname4" style="font-family: sans-serif;">Scanner Image</label>
          </div> -->
          <div class="col-12 mb-2 md:col-2 md:mb-0">
            <input pInputText id="lastname4" type="text" class="inputfield">
          </div>
          <div class="col-12 mb-2 md:col-2 md:mb-0">
            <p-fileUpload mode="basic" name="demo[]"
              accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"
              [auto]="true" chooseLabel="Load CSV">
              </p-fileUpload>
          </div>
        </div>
        <!-- <div class="field grid">
          <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0" style="font-family: sans-serif;">Scanner Image</label>
          <div class="col-12 md:col-10">
            <input pInputText id="lastname4" type="text" class="inputfield">
            <button pButton label="Upload Image" class="ml-2" style="font-family: sans-serif;"></button>
            <div class="">
              <p-fileUpload mode="basic" name="demo[]"
              accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"
              [auto]="true" chooseLabel="Load CSV">
              </p-fileUpload>
            </div>
          </div>
        </div> -->
        <div class="flex justify-content-center">
          <button pButton label="Insert" style="font-family: sans-serif;"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="m-2"></div>

  <!-- <div class="border-top-1">
    <div class="m-6"></div>
  </div> -->


</div>

<!-- <div *ngIf="filesIsSelected"> -->
  <p-dialog header="Success" [(visible)]="display">
    <p class="text-lg">Data loaded correctly. Click upload to continue.</p>
    <div class="flex justify-content-center">
      <button class="m-2 p-button-info" pButton type="button" label="Upload" [routerLink]="['/4']"></button>
      <!-- <button class="m-2 p-button-secondary" pButton type="button" label="Compare" [routerLink]="['/2']"></button>
      <button class="m-2 p-button-success" pButton type="button" label="Analyze CF"></button> -->
    </div>
  </p-dialog>
<!-- </div> -->


<router-outlet></router-outlet>
